/*!
Theme Name: WpResidence
Theme URI: http://themeforest.net/user/annapx
Description:WP Residence is a premium & responsive WordPress theme designed for Real Estate companies and independent agents.
Version: 1.40
Author: annapx
Author URI: http://www.wpestate.org
Text Domain: wpestate
Tags: white, one-column, two-columns,left-sidebar, right-sidebar, fluid-layout , custom-menu, theme-options, translation-ready
License:
License URI:
-------------------------------------------------------------- */
/*!
CSS Document
Project Name: Chandler
Project Description:
Written By: iMark Infotech - Pankaj Dhiman
Created On: 21st Sept, 2018
Last Modified:
*/
/*** Parameters ***/
/** RESET only css **/
* {
  margin: 0;
  padding: 0; }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-kerning: none;
    font-kerning: none; }

label {
  font-weight: normal; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: border-box;
  margin: 0;
  outline: 0;
  vertical-align: top;
  width: 100%; }

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  height: auto; }

input[type='checkbox'] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox; }

input[type='radio'] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
  vertical-align: -1px; }

select[multiple],
select[size],
textarea {
  height: auto; }

select::-ms-expand {
  display: none; }

select:focus::-ms-value {
  background-color: transparent;
  color: inherit; }

textarea {
  resize: vertical; }

input[type='search']::-webkit-search-decoration {
  display: none; }

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield; }

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  a:hover, a:focus {
    color: #d30e8c;
    text-decoration: none; }

*:focus {
  outline: none !important; }

img {
  max-width: 100%; }

b,
strong {
  font-weight: bold; }

em,
i {
  font-style: italic; }

.clr {
  border: 0;
  clear: both;
  height: 0; }

body,
html {
  width: 100%; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-size: 16px; }
  @media only screen and (max-width: 1399px) {
    body {
      font-size: 14px; } }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0; }

.inline {
  display: inline-block !important; }

.block {
  display: block !important; }

.shown {
  display: inline-block; }
  .shown.block {
    display: block; }

.hidden {
  display: none; }

.relative {
  position: relative; }

::-webkit-scrollbar {
  min-width: 4px;
  width: 0.15%;
  max-width: 4px;
  height: 3px; }

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: #171719; }

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
  background: rgba(63, 174, 181, 0.9); }

svg:not(:root) {
  height: 100%;
  width: 100%; }

@font-face {
  font-family: 'ArgentCF-Bold';
  src: url("fonts/myFonts/argent-cf-bold.eot?#iefix") format("embedded-opentype"), url("fonts/myFonts/argent-cf-bold.otf") format("opentype"), url("fonts/myFonts/argent-cf-bold.woff") format("woff"), url("fonts/myFonts/argent-cf-bold.ttf") format("truetype"), url("fonts/myFonts/argent-cf-bold.svg#ArgentCF-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ArgentCF-Regular';
  src: url("fonts/myFonts/argent-cf-regular.eot?#iefix") format("embedded-opentype"), url("fonts/myFonts/argent-cf-regular.otf") format("opentype"), url("fonts/myFonts/argent-cf-regular.woff") format("woff"), url("fonts/myFonts/argent-cf-regular.ttf") format("truetype"), url("fonts/myFonts/argent-cf-regular.svg#ArgentCF-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ArgentCF-RegularItalic';
  src: url("fonts/myFonts/argent-cf-regular-italic.eot?#iefix") format("embedded-opentype"), url("fonts/myFonts/argent-cf-regular-italic.otf") format("opentype"), url("fonts/myFonts/argent-cf-regular-italic.woff") format("woff"), url("fonts/myFonts/argent-cf-regular-italic.ttf") format("truetype"), url("fonts/myFonts/argent-cf-regular-italic.svg#ArgentCF-RegularItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VisbyCF-Bold';
  src: url("fonts/myFonts/visby-cf-bold.eot?#iefix") format("embedded-opentype"), url("fonts/myFonts/visby-cf-bold.otf") format("opentype"), url("fonts/myFonts/visby-cf-bold.woff") format("woff"), url("fonts/myFonts/visby-cf-bold.ttf") format("truetype"), url("fonts/myFonts/visby-cf-bold.svg#VisbyCF-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VisbyCF-DemiBold';
  src: url("fonts/myFonts/visby-cf-demi-bold.eot?#iefix") format("embedded-opentype"), url("fonts/myFonts/visby-cf-demi-bold.otf") format("opentype"), url("fonts/myFonts/visby-cf-demi-bold.woff") format("woff"), url("fonts/myFonts/visby-cf-demi-bold.ttf") format("truetype"), url("fonts/myFonts/visby-cf-demi-bold.svg#VisbyCF-DemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VisbyCF-Light';
  src: url("fonts/myFonts/visby-cf-light.eot?#iefix") format("embedded-opentype"), url("fonts/myFonts/visby-cf-light.otf") format("opentype"), url("fonts/myFonts/visby-cf-light.woff") format("woff"), url("fonts/myFonts/visby-cf-light.ttf") format("truetype"), url("fonts/myFonts/visby-cf-light.svg#VisbyCF-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VisbyCF-Medium';
  src: url("fonts/myFonts/visby-cf-medium.eot?#iefix") format("embedded-opentype"), url("fonts/myFonts/visby-cf-medium.otf") format("opentype"), url("fonts/myFonts/visby-cf-medium.woff") format("woff"), url("fonts/myFonts/visby-cf-medium.ttf") format("truetype"), url("fonts/myFonts/visby-cf-medium.svg#VisbyCF-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VisbyCF-Regular';
  src: url("fonts/myFonts/visby-cf-regular.eot?#iefix") format("embedded-opentype"), url("fonts/myFonts/visby-cf-regular.otf") format("opentype"), url("fonts/myFonts/visby-cf-regular.woff") format("woff"), url("fonts/myFonts/visby-cf-regular.ttf") format("truetype"), url("fonts/myFonts/visby-cf-regular.svg#VisbyCF-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-family: "ArgentCF-Bold";
  font-size: 4.375em; }

h2 {
  font-family: "ArgentCF-Bold";
  font-size: 3.75em; }

h3 {
  font-family: "VisbyCF-Regular";
  font-size: 1.75em; }

h4 {
  font-family: "VisbyCF-Regular";
  font-size: 1.5625em; }

h5 {
  font-family: "VisbyCF-Regular";
  font-size: 1.3125em; }

h6 {
  font-family: "VisbyCF-Regular";
  font-size: 1.125em; }

p, li {
  font-family: "VisbyCF-Regular";
  font-size: 1em; }

html {
  height: 100%; }

.page-id-17 {
  height: 100%; }
  .page-id-17 .container-fluid {
    position: relative;
    height: 100%; }
    .page-id-17 .container-fluid .row {
      position: relative;
      height: 100%; }
      .page-id-17 .container-fluid .row * {
        height: 100%; }
    .page-id-17 .container-fluid .vc_row-has-fill > .vc_column_container > .vc_column-inner {
      padding: 0; }
    .page-id-17 .container-fluid .wpb_wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .page-id-17 .container-fluid .wpb_wrapper * {
        height: auto; }
    .page-id-17 .container-fluid .logo {
      margin-bottom: 3.75em; }
      @media only screen and (max-width: 1399px) {
        .page-id-17 .container-fluid .logo img {
          max-width: 480px; } }
    .page-id-17 .container-fluid .menu {
      margin: 0;
      padding: 0; }
      .page-id-17 .container-fluid .menu > li {
        display: inline-block;
        position: relative;
        margin: 0 3.4375em; }
        @media only screen and (max-width: 1399px) {
          .page-id-17 .container-fluid .menu > li {
            margin: 0 1.875em; } }
        .page-id-17 .container-fluid .menu > li > a {
          font-size: 1.25em;
          font-family: "VisbyCF-Medium";
          text-transform: uppercase;
          letter-spacing: 0.15em;
          color: #fff;
          position: relative; }
          @media only screen and (max-width: 1399px) {
            .page-id-17 .container-fluid .menu > li > a {
              font-size: 1.125em; } }
          .page-id-17 .container-fluid .menu > li > a:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: transparent;
            visibility: hidden;
            margin: 10px auto 0;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s; }
          .page-id-17 .container-fluid .menu > li > a:focus, .page-id-17 .container-fluid .menu > li > a:hover {
            color: #d30e8c; }
            .page-id-17 .container-fluid .menu > li > a:focus:after, .page-id-17 .container-fluid .menu > li > a:hover:after {
              background: #d30e8c;
              visibility: visible; }
        .page-id-17 .container-fluid .menu > li ul {
          position: absolute;
          top: 100%;
          pointer-events: none;
          opacity: 0;
          left: -100px;
          right: -100px;
          text-align: center;
          padding-top: 25px;
          margin: 0;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
          .page-id-17 .container-fluid .menu > li ul li {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s; }
            .page-id-17 .container-fluid .menu > li ul li:nth-child(odd) {
              position: relative;
              left: 50%; }
            .page-id-17 .container-fluid .menu > li ul li:nth-child(even) {
              position: relative;
              left: -50%; }
            .page-id-17 .container-fluid .menu > li ul li a {
              font-size: 1em;
              font-family: "VisbyCF-Medium";
              text-transform: uppercase;
              letter-spacing: 0.15em;
              color: #fff; }
              @media only screen and (max-width: 1399px) {
                .page-id-17 .container-fluid .menu > li ul li a {
                  font-size: 0.875em; } }
              .page-id-17 .container-fluid .menu > li ul li a:focus, .page-id-17 .container-fluid .menu > li ul li a:hover {
                background: transparent;
                color: #d30e8c; }
            .page-id-17 .container-fluid .menu > li ul li:focus, .page-id-17 .container-fluid .menu > li ul li:hover {
              background: transparent; }
        .page-id-17 .container-fluid .menu > li:hover ul {
          pointer-events: auto;
          visibility: visible;
          opacity: 1; }
          .page-id-17 .container-fluid .menu > li:hover ul li:nth-child(odd) {
            position: relative;
            left: 0; }
          .page-id-17 .container-fluid .menu > li:hover ul li:nth-child(even) {
            position: relative;
            left: 0; }
    .page-id-17 .container-fluid .home-footer-wrapper {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 99;
      margin: 0; }
      .page-id-17 .container-fluid .home-footer-wrapper p {
        font-size: 0.875em;
        color: #fff;
        letter-spacing: 0.05em;
        margin-bottom: 10px; }
        .page-id-17 .container-fluid .home-footer-wrapper p a {
          color: #fff; }
          .page-id-17 .container-fluid .home-footer-wrapper p a:focus, .page-id-17 .container-fluid .home-footer-wrapper p a:hover {
            color: #d30e8c; }
      .page-id-17 .container-fluid .home-footer-wrapper .social-icons {
        margin: 0;
        padding: 0; }
        .page-id-17 .container-fluid .home-footer-wrapper .social-icons li {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.875em;
          color: #fff;
          margin: 0 4px; }
          .page-id-17 .container-fluid .home-footer-wrapper .social-icons li a {
            color: #fff; }
            .page-id-17 .container-fluid .home-footer-wrapper .social-icons li a:focus, .page-id-17 .container-fluid .home-footer-wrapper .social-icons li a:hover {
              color: #d30e8c; }
